body{
    font-family: 'Roboto', sans-serif;  
}
.main-container{
    margin-left: 23%;
    margin-top: 7%;
    width: 745px;
   
}
.heading{
    display: inline-block;
}
.heading1{
    font-family: 'Encode Sans SC',sans-serif;
    font-weight: 600;
    font-size: 55px;
}
.heading2{
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 55px;
    color: #999898;
}

.add-list-icon{
    display: inline-block;
    color: #e74c3c;
    font-weight: lighter;
    margin-left: 283px;
}
.add-list-text{
    display: inline-block;
    font-size: 30px;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
}
.todo-list-main-container{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.todo-list-container{
    width: 200px;
    height: 325px;
    border: 1px solid #e74c3c ;
    border-radius: 10px;
    box-shadow: 8px 8px 8px lightgrey;
}
.inner-text-1{
    text-align: center;
    font-size: 24px;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
    color: #ec3f2c;
    margin-bottom: 10px;
    
}
.horizontal-line{
   margin-left: 30px;
   margin-top: 0px;
}
.complete-task-text{
    color: #e74c3c;
   text-align: end;
   margin: 35px 10px 5px 5px;
   font-size: 22px;
   font-weight: 400;
   text-decoration: line-through;
   text-decoration-color: #e74c3c;
}
.pending-task{
   
    margin-top: 20px;
    font-size: 20px;
}
input.pending-task-checkbox{
    width: 17px;
    height: 17px;
    margin-left: 10px;
}
.todo-list-container-4 , .todo-list-container-5{
    display: none;
}

/* mobile view  */

@media only screen and (max-width: 600px) {
    .main-container{
        width: 350px;
        margin-left: 2%;
        margin-top: 7%;
        height: 400px;
    }
    
    .heading1{
        font-family: 'Encode Sans SC',sans-serif;
        font-weight: 600;
        font-size: 35px;
    }
    .heading2{
        font-family: 'Roboto', sans-serif;
        font-weight: 100;
        font-size: 35px;
        color: #999898;
    }
    .add-list-text{
        display: none;
    }
    .add-list-icon{
        
        margin-left: 283px;
    }
    .head-container{
        text-align: center;
    }
    .add-list-icon{
        position: relative;
        position: relative;
        top: -59px;
    }
    .todo-list-main-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 20px;
        align-content: center;
        margin-left: 20%;
    }
    .todo-list-container{
        width: 189px;
    height: 32px;
    margin-top: 15px;
    border: 1px solid #e74c3c61;
    border-radius: 10px;
    box-shadow: 4px 4px 4px lightgrey;
    padding: 13px;
    }
    .inner-container{
        display: none;
    }
    .inner-text-1{
        font-size: 15px;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
    color: black;
    margin-bottom: 5px;
    padding-bottom: 6px;
    text-align: start;
        
    }
    .todo-list-container-4 , .todo-list-container-5{
        display: inline-block;
    }
}